# Copia este archivo a .env y completa los valores.

DATABASE_URL=
SECRET_KEY=
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GROQ_API_KEY=
